* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0f5fa;
  margin-top: 3rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0;
}

.Rock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87f1ff;
  border-radius: 20px;
  padding: 10px;
}
.Paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87f1ff;
  border-radius: 20px;
  padding: 10px;
}

.Scissor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87f1ff;
  border-radius: 20px;
  padding: 10px;
}

img {
  border-radius: 20px;
}

h2 {
  color: #841f36;
}

a .play-again {
  color: #841f36;
  justify-self: center;
  font-size: 20px;
}

.result {
  color: #841f36;
  width: 100vw;
  justify-items: center;
  font-size: 25px;
}

a {
  text-decoration: none;
  justify-items: center;
  width: 100vw;
}

.dark-theme {
  background-color: #0b949e;
}

.dark-theme-boxes {
  background-color: #1a072a;
}

.mode-button {
  padding: 10px;
  background-color: #bfc0cb;
  color: #af125a;
  border: none;
  border-radius: 2rem;
  justify-content: center;
}

.dark-mode {
  width: 100vw;
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
}
.title {
  justify-self: center;
  color: #841f36;
  font-size: 2rem;
}

.Score {
  display: flex;
  justify-content: end;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  color: #841f36;
  justify-content: end;
  padding-right: 1rem;
  margin: 0;
}
